* {
    /* background-color: #333; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,a:hover {
    text-decoration: none;
    color: black;
}

p {
    word-wrap: break-word;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* ***************************************************** */
#nav {
    opacity: 0.9;
}

/* .div > a:hover{
    font-size: 1.05em;
} */

.icon {
    position: relative;
    display: block;
    border-radius: 50%;
    transition: background-color color border-radius .3s;
}

.icon :hover {
    /* transform:translateY(-3px); */
    /* font-size: 3.1rem; */
    background-color: black;
    color: white;
    border-radius: 50%;
}

#main-image {
    height: 100vh;
    width: auto;
    position: relative;
    background: url("image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.86;
}

.hero-text {
    background: rgba(0, 0, 0, .01);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    line-height: 1.1rem;
}

.hero-text .btn-outline-secondary {
    margin-top: 5px;
}

.hero-text .btn-outline-secondary:hover {
    color: white!important;
    /*   opacity: 0.4; */
    border-color: white;
    font-size: 1.05rem;
    background-color: transparent!important;
}

.ed-time {
    padding: 0 4em;
    min-width: 300px;
    max-width: 60%;
    margin: auto;
}

.ed-til-con-title {
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    /* line-height: 1.5rem; */
    margin-bottom: 1.5rem;
}

.ed-time .p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
}


.ed-time .p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}

.ed-time .p:nth-child(odd) .ed-til-con-title {
    text-align: right;
}

.ed-time .p:nth-child(odd) a{
    text-align: right;
    
}

/* //even number borders */

.ed-time .p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}


/* //handle first and last */

.ed-time .p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.ed-time .p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 20px;
}

.main-timeline4 {
    overflow: hidden;
    position: relative;
}

.main-timeline4:before {
    content: "";
    width: 5px;
    height: 70%;
    background: #333;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%)
}

.main-timeline4 .timeline-content:before,
.main-timeline4 .timeline:before {
    top: 50%;
    transform: translateY(-50%);
    content: ""
}

.main-timeline4 .timeline {
    width: 50%;
    padding-left: 100px;
    float: right;
    position: relative
}

.main-timeline4 .timeline:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #333;
    position: absolute;
    left: -10px
}

.main-timeline4 .timeline-content {
    display: block;
    padding-left: 150px;
    position: relative
}

.main-timeline4 .timeline-content:before {
    width: 90px;
    height: 10px;
    border-top: 7px dotted #333;
    position: absolute;
    left: -92px
}

.main-timeline4 .year {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 50%;
    border: 10px solid #f54957;
    font-size: 30px;
    color: #f54957;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0
}

.main-timeline4 .year:before {
    content: "";
    border-left: 20px solid #f54957;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg)
}

.main-timeline4 .inner-content {
    padding: 20px 0
}

.main-timeline4 .title {
    font-size: 24px;
    font-weight: 600;
    color: #f54957;
    text-transform: uppercase;
    margin: 0 0 5px
}

.main-timeline4 .description {
    font-size: 14px;
    color: #6f6f6f;
    margin: 0 0 5px
}

.main-timeline4 .timeline:nth-child(2n) {
    padding: 0 100px 0 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content:before,
.main-timeline4 .timeline:nth-child(2n) .year,
.main-timeline4 .timeline:nth-child(2n):before {
    left: auto;
    right: -10px
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content {
    padding: 0 150px 0 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
    right: -92px
}

.main-timeline4 .timeline:nth-child(2n) .year {
    right: 0
}

.main-timeline4 .timeline:nth-child(2n) .year:before {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid #f54957;
    transform: rotate(-45deg)
}

.main-timeline4 .timeline:nth-child(2) {
    margin-top: 110px
}

.main-timeline4 .timeline:nth-child(odd) {
    margin: -110px 0 0
}

.main-timeline4 .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(even) {
    margin: 0
}

.main-timeline4 .timeline:nth-child(2n) .year {
    border-color: #1ebad0;
    color: #1ebad0
}

.main-timeline4 .timeline:nth-child(2) .year:before {
    border-right-color: #1ebad0
}

.main-timeline4 .timeline:nth-child(2n) .title {
    color: #1ebad0
}

.main-timeline4 .timeline:nth-child(3n) .year {
    border-color: #7cba01;
    color: #7cba01
}

.main-timeline4 .timeline:nth-child(3) .year:before {
    border-left-color: #7cba01
}

.main-timeline4 .timeline:nth-child(3n) .title {
    color: #7cba01
}

.main-timeline4 .timeline:nth-child(4n) .year {
    border-color: #f8781f;
    color: #f8781f
}

.main-timeline4 .timeline:nth-child(4) .year:before {
    border-right-color: #f8781f
}

.main-timeline4 .timeline:nth-child(4n) .title {
    color: #f8781f
}

@media only screen and (max-width:1200px) {
    .main-timeline4 .year {
        top: 50%;
        transform: translateY(-50%)
    }
}

@media only screen and (max-width:990px) {
    .main-timeline4 .timeline {
        padding-left: 75px
    }
    .main-timeline4 .timeline:nth-child(2n) {
        padding: 0 75px 0 0
    }
    .main-timeline4 .timeline-content {
        padding-left: 130px
    }
    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
        padding: 0 130px 0 0
    }
    .main-timeline4 .timeline-content:before {
        width: 68px;
        left: -68px
    }
    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
        right: -68px
    }
}

@media only screen and (max-width:767px) {
    .main-timeline4 {
        overflow: visible
    }
    .main-timeline4:before {
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0)
    }
    .main-timeline4 .timeline:before,
    .main-timeline4 .timeline:nth-child(2n):before {
        top: 60px;
        left: -9px;
        transform: translateX(0)
    }
    .main-timeline4 .timeline,
    .main-timeline4 .timeline:nth-child(even),
    .main-timeline4 .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 0 10px
    }
    .main-timeline4 .timeline-content,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
        padding: 0
    }
    .main-timeline4 .timeline-content:before,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
        display: none
    }
    .main-timeline4 .timeline:nth-child(2n) .year,
    .main-timeline4 .year {
        position: relative;
        transform: translateY(0)
    }
    .main-timeline4 .timeline:nth-child(2n) .year:before,
    .main-timeline4 .year:before {
        border: none;
        border-right: 20px solid #f54957;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: -23px;
        bottom: auto;
        right: auto;
        transform: rotate(0)
    }
    .main-timeline4 .timeline:nth-child(2n) .year:before {
        border-right-color: #1ebad0
    }
    .main-timeline4 .timeline:nth-child(3n) .year:before {
        border-right-color: #7cba01
    }
    .main-timeline4 .timeline:nth-child(4n) .year:before {
        border-right-color: #f8781f
    }
    .main-timeline4 .inner-content {
        padding: 10px
    }
}

ol.experiences-ol {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}

li.experiences-ol {
	position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: white;
}

li.experiences-ol::before {
	--stop: calc(100% / var(--length) * var(--i));
	--l: 62%;
	--l2: 88%;
	--c1: hsl(var(--h), 71%, var(--l));
	--c2: hsl(var(--h), 71%, var(--l2));
	
	content: '';
	display: block;
	width: 100%;
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
}

h3.experiences-ol {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	color: var(--brandColor);
}

h3.experiences-ol::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--brandColor);
	color: white;
}

@media (min-width: 40em) {
	li {
		margin: 3rem auto;
		padding: 3rem 2rem 2rem;
	}
	
	h3 {
		font-size: 2.25rem;
		margin: 0 0 2rem;
	}
	
	h3::before {
		margin-right: 1.5rem;
	}
}
